[Unit]
Description=PBBBBBBBTTTTTTT
After=network.target

[Service]
Type=simple
User=fartd
WorkingDirectory=/usr/share/fartd
ExecStart=/usr/local/bin/fartd
Restart=on-abort

[Install]
WantedBy=multi-user.target
